.page.light {
  --primary-backgroud: #ffffff;
  --light-backgroud: #f8f8f8;
  --page-header-backgroud: #ffffff;
  --page-aside-backgroud: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #585858;
  --light-text-color: #adadad;
  --line-color: #e1e3e7;
  --highline-line-color: #000000;
  --primary-button-backgroud: #000000;
  --outline-button-color: #000000;
}

.page.dark {
  --primary-backgroud: #222222;
  --light-backgroud: #1f1f1f;
  --page-header-backgroud: #222222;
  --page-aside-backgroud: #2e2e2e;
  --primary-text-color: #b1b1b1;
  --secondary-text-color: #585858;
  --light-text-color: #656565;
  --line-color: #383838;
  --highline-line-color: #555555;
  --primary-button-backgroud: #555555;
  --outline-button-color: #555555;
}
