.post-list-item {
  display: grid;
  grid-template-rows: 1fr 60px;
}

.post-list-item.portrait {
  grid-row-end: span 2;
  grid-row-start: auto;
}

.post-list-item.stackable-minimal,
.post-list-item.flow-minimal {
  grid-template-columns: 1fr;
}
