.comment-list-item-action {
  display: flex;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.comment-list-item-action > .action {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-right: 8px;
}

.comment-list-item-action > .action:last-child {
  margin-right: 0;
}

.comment-list-item-action > .action > .button {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--secondary-text-color);
}
